body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
    width: 100%;
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 620px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
        'inputs'
        'totals'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 15px;
}

.container > .inputs {
    grid-area: inputs;
}

.container > .totals {
    grid-area: totals;
}

/* INPUTS */

#bill-input {
    border: none;
    background-color: hsl(189, 41%, 97%);
    width: 90%;
    padding: 0.5em;
}

#select-tip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.3em;
    grid-template-areas: 
        'five ten'
        'fifteen twentyfive'
        'fifty custom';
    border: none;
}

#select-tip > #five {
    grid-area: five;
}

#select-tip > #ten {
    grid-area: ten;
}

#select-tip > #fifteen {
    grid-area: fifteen;
}

#select-tip > #twentyfive {
    grid-area: twentyfive;
}

#select-tip > #fifty {
    grid-area: fifty;
}

#select-tip > #custom {
    grid-area: custom;
}

#select-tip label {
    width: 90%;
    padding: 0.5em;
    border-radius: 5px;
    background-color:hsl(183, 100%, 15%);
    color: white;
    text-align: center;
}

#select-tip label:hover {
    background-color: hsl(172, 67%, 45%);
    }

#select-tip input[type="radio"] {
    -webkit-appearance: none; 
    -moz-appearance: none;
    display: none;
}

#select-tip > #custom {
    background-color: hsl(189, 41%, 97%);
    color: hsl(186, 14%, 43%);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5em;
    width: 90%
}

#select-tip > #custom:hover {
    border: 1px solid hsl(172, 67%, 45%);
    cursor: pointer;
}

::placeholder {
    color: hsl(172, 67%, 45%);
    font-family: 'Space Mono', monospace;
    font-size: medium   ;
}

#people > #no-of-people {
    border: none;
    background-color: hsl(189, 41%, 97%);
    width: 90%;
    padding: 0.5em;
}

.totals {
    background-color: hsl(183, 100%, 15%);
    padding: 1em;
    border-radius: 10px;
    color: white;
    font-size: small;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

span {
    color: hsl(172, 67%, 45%);
    font-weight: 700;
    font-size: x-large;
    float: right;
 }

 #reset {
    margin: auto;
    padding: 0.2em;
    width: 100%;
    background-color: hsl(172, 67%, 45%);
    border: 0;
    border-radius: 3px;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: large;
    margin-top: 100px;
    max-height: 30px;
    }

#reset:hover {
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    .container {
        grid-template-areas: 
            'inputs totals';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    fieldset {
        grid-template-areas: 
            'five ten fifteen'
            'twentyfive fifty custom';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .totals {
        grid-template-rows: 1fr 1fr 2fr;
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}